<?php
?>
<input type="button" name="google_button" id="google_button" value="Third Party Dashboard"/>

<script type="text/javascript">  
(function  () {    
    require(["jquery"], function($) {
        $(document).ready(function($) {
            $("#google_button").on("click", function(e){
                window.open('https://www.google.com/', '_blank');
            })
        }); 
    });
})();
</script>